@import "base";

.report-list {
    padding: 20px;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    background-image:url('../../images/bg.png');

    .box{
        height: 220px;
        width: 220px;
        background-color: rgb(114, 188, 239);
        position: relative;
        cursor: pointer;

        .img-box{
            margin: 70px auto;
            width: 70px;
            height: 80px;
            background-repeat: no-repeat;
        }

        .title{
            color: #fff;
            position: absolute;
            bottom: 45px;
            left: 85px;
        }
         &:hover .control{
            height: 50px;
            width: 100%;
            position: absolute;
            top: 0;
            background: #55A3E3;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .setting, .delete, .edit{
                width: 20px;
                height: 20px;
                cursor: pointer;
                margin: 0 5px;
            }
        }
    }

}
.report-list{
    .v-grid-item-wrapper{
        padding: 10px;
    }
}