@import "base";

.organization {
    padding: 20px;
    flex: 1;
    flex-direction: column;
    overflow: auto;
    .header{
        display: flex;
        .control{
            flex:1;
        }
        .search-box{
            width: 200px;
        }
    }
    .table-box{
        margin: 10px 0;
    }
}