@charset "utf-8";

@import "reset";
@import "base.scss";

html {
  background: #eff2f7;
}


// loading函数
@keyframes loading {
  0% {
    transform: rotate(0);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
