@import "base";

.container {
  padding: 20px;
  flex: 1;
  flex-direction: column;
  overflow: auto;

  .soft-list {
    display: flex;
    margin: 10px 0;
    background: #fff;
    min-height: 400px;
    flex: 1;
    flex-direction: column;
    overflow: auto;

    .header {
      padding: 0 10px;
      border-bottom: 1px solid #5faee3;

      .header-p {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    /deep/ .list {
      display: flex;
      flex: 1;
      overflow: auto;

      .app {
        display: flex;
        cursor: pointer;
        flex-direction: column;
        align-items: center;

        .img-box {
          width: 120px;
          height: 120px;
          background-image: url("../../images/soft.png");
          background-repeat: no-repeat;
        }

        .title {
          text-align: center;
        }
      }

      .v-grid-item-wrapper {
        margin: 10px;
      }
    }
  }

  .charts {
    display: flex;
    width: 100%;
    height: 500px;
    margin: 20px 0;

    .content {
      width: 50%;
      margin: 10px;
      background: #fff;

      .header {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-around;
        border-bottom: 2px solid #e4e7ed;

        .el-tabs {
          position: relative;
          bottom: -16px;
        }
      }

      .echartContainer,
      .table {
        width: 100%;
        height: 100%;
      }
    }
  }
}
